@keyframes buttonHoverAnimation {
    0% {
        transform: scale(1);
        background-color: transparent;
        border-radius: 4px;
    }
    50% {
        transform: scale(1.1);
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 20%;
    }
    100% {
        transform: scale(1.05);
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 30%;
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header:hover {
    animation: headerAnimation 0.5s ease forwards;
}

button {
    background-color: transparent;
    border: 2px solid;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    animation: buttonHoverAnimation 0.5s ease forwards;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    background-image: url("media.png");
    color: beige;
    transition: color 0.3s ease, transform 0.3s ease;
}

h1:hover {
    animation: h1Animation 0.5s ease forwards;
}

